/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Apr, 2019, 9:43:37 AM
    Author     : USER
*/
#flip
{
    background-color: lightgray;
    border: 2px solid darkmagenta;
    
}
#tagline
{
    color: darkred;
    background-color: lightcoral;
    animation-name: slidein;
    animation-duration: 2s;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
#panel
{
    display: none;
    background-color: lightpink;
    padding: 5px;   
}
input[type=text],select
{
    
    padding: 70px;
    border: 5px solid darkblue;
    border-radius: 10px;
    
}

#id1,#id2,#id3
{
    padding: 5px;
}

